@model Library.Application.Services.Authors.Dto.AuthorDto

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(a => a.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(a => a.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(a => a.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(a => a.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(a => a.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(a => a.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(a => a.BirthAddress.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(a => a.BirthAddress.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(a => a.BirthAddress.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(a => a.BirthAddress.City)
        </dd>
    </dl>
    <hr />
</div>

<div>
    <h4>Books</h4>
    <p>
        <a asp-action="AddBook" asp-route-id="@Model.Id">Add existing</a>
    </p>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(a => a.Books.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Books.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Books.First().PagesAmount)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(authors => book.Id)
                </td>
                <td>
                    @Html.DisplayFor(authors => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(authors => book.PagesAmount)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Books", new {id = book.Id})">Details</a> |
                    <a href="@Url.Action("RemoveBook", "Authors", new {authorId = Model.Id, bookId = book.Id})">Remove</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr />
</div>

<div>
    <a asp-action="Update" asp-route-id="@Model.Id">Update</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Go to Authors List</a>
</div>